{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h3>{{ cats }} Category</h3>
    {% if category_posts %}
    <ul>
    {% for article in category_posts %}
        <li>
            <a href="{% url 'article_details' article.pk %}">{{ article.title }}</a> -
            {% for member in members %}
                <span> By {{ member.first_name }} {{ member.last_name }}</span>
            {% endfor %}
            {% if user.is_authenticated %} 
                <small>
                    <a href="{% url 'update_post' article.pk%}">Edit</a>
                    <a href="{% url 'delete_post' article.pk%}">Delete Post!?</a>
                </small>
            {% endif %}
            <br>
            {{ article.body|slice:":200" }}
            <small>Written by: {{ article.author.username }}</small>
        </li>
    {% endfor %}
    </ul>
    {% else %}
        <h5>This is template DOES NOT EXIST</h5>
    {% endif %}
</div>
{% endblock %}