{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h3>Post</h3>

    <ul>
        {% for article in articles %}
        <li>
            <a href="{% url 'article_details' article.pk %}">{{ article.title }}</a> - {{ article.author.username }} - 
            {% if user.is_authenticated %}
                <small>
                    <a href="{% url 'update_post' article.pk%}">Edit</a>
                    <a href="{% url 'delete_post' article.pk%}">Delete Post!?</a>
                </small>
            {% endif %}
            <br>
            {{ article.body }}
        </li>
        {% endfor %}
    </ul>

</div>
{% endblock %}