{% extends 'base.html' %}

{% block title %}
    Edit Blog Post
{% endblock %}

{% block content %}

<h3>Edit Blog Post</h3>

<div class="form-group">
    <form action="" method="POST">
        {% csrf_token %}
        <div>
            {{ form.title.label_tag }}
            {{ form.title }}
        </div>
        <div>
            {{ form.body.label_tag }}
            {{ form.body }}
        </div>
        <button class="btn btn-secondary" type="submit">Update Blog</button>
    </form>

</div>
{% endblock %}